.ns {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

$color-primary-dark: var(--mdui-color-primary-dark);
$color-surface-container-highest: var(--mdui-color-surface-container-highest);
$color-on-surface-variant: var(--mdui-color-on-surface-variant);

// 首页
.HomeScreen {
  overflow: hidden;
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    .part {
      //opacity: 1;
      width: 100%;
      height: 100%;
      //transition: opacity 0.2s ease-in-out;
      /*&:not(.current) {
        opacity: 0;
      }*/
    }
  }
}

// 主题
.colorPreview{width:32px;height:32px;background:red;border-radius: 50%;}

.palettePanel {
  position: relative;
  background: rgba($color-primary-dark, 0.2);
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 3px 3px 5% 5%;
  user-select: none;

  &[type="alpha"] {
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    display: none;
  }

  > .colorInputPanel {
    display: flex;
    justify-content: center;
    margin: 5px 0;
    height: 2.8rem;
    padding-bottom: 1rem;

    > .colorInputStack {
      width: calc(100% - 45px - 2.5rem);
      margin: 0.4rem 0.8rem 0 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .colorInput,
      .sliderFlex .colorInput {
        height: 2rem;
        padding: 5px;
        width: calc(100% - 0.8rem);
        border: none;
        outline: none;
        text-align: center;
        transition: all 0.15s ease-in 0s;
        background: rgb($color-surface-container-highest);
        border-radius: var(--mdui-shape-corner-extra-small) var(--mdui-shape-corner-extra-small) 0 0;
        box-shadow: inset 0 -.0625rem 0 0 rgb($color-on-surface-variant);
      }

      &:focus {
        box-shadow: inset 0 -.125rem 0 0 rgb($color-primary-dark);
      }
    }
  }

  > .color-palette {
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
      linear-gradient(to left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
    background-color: red;
    overflow: hidden;

    > .color-pointer {
      position: relative;
      left: -6px;
      top: -6px;
      width: 12px;
      height: 12px;
      transform: translate(-6px, -6px);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 50%;
      border: 2px solid rgba(255, 255, 255, 0.65);
    }
  }

  > .preview {
    background: white;
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 12px;
    border: 1px solid #eee;
  }

  > .slider {
    background: darkblue;
    width: calc(100% - 75px);
    height: 10px;
    margin-left: 60px;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  > .slider.hue {
    background: linear-gradient(
      to left,
      hsl(0, 100%, 50%) 0%,
      hsl(30, 100%, 50%) 8.33%,
      hsl(60, 100%, 50%) 16.67%,
      hsl(90, 100%, 50%) 25%,
      hsl(120, 100%, 50%) 33.33%,
      hsl(150, 100%, 50%) 41.67%,
      hsl(180, 100%, 50%) 50%,
      hsl(210, 100%, 50%) 58.33%,
      hsl(240, 100%, 50%) 66.67%,
      hsl(270, 100%, 50%) 75%,
      hsl(300, 100%, 50%) 83.33%,
      hsl(330, 100%, 50%) 91.67%,
      hsl(0, 100%, 50%) 100%
    );
  }

  > .slider.alpha {
    background:
      linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1)) 0 0 / cover,
      linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 0, transparent 75%, rgba(0, 0, 0, 0.25) 0) 0 0 / 10px 10px,
      linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 0, transparent 75%, rgba(0, 0, 0, 0.25) 0) 5px 5px / 10px 10px;
  }

  > .slider > .sliderBox {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transform: translateX(0);
    background: rgba(250, 250, 250, 0.65);
    position: relative;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
    left: -8px;
    top: -2px;
  }

  > .colorInputPanel .result {
    color: rgba($color-on-surface-variant, 0.65);
    margin: 0;
    line-height: 2;
    text-align: center;
    user-select: auto;
  }

  > .upload-button {
    width: calc(100% - 15px);
    margin: 0 5px 5px 5px;
  }

  > .upload-input {
    display: none;
  }

  > .sliderFlex {
    display: flex;
  }
}