.ns {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

$color-primary-dark: var(--mdui-color-primary-dark);
$color-surface-container-highest: var(--mdui-color-surface-container-highest);
$color-on-surface-variant: var(--mdui-color-on-surface-variant);

// 首页
@mixin fadeInUp($duration: 1s, $delay: 0s) {
  animation-name: fadeInUp;
  animation-duration: $duration;
  animation-fill-mode: both;
  animation-delay: $delay;
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate(0, 20px);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}
@mixin fadeOut($duration: 1s, $delay: 0s) {
  animation-name: fadeOut;
  animation-duration: $duration;
  animation-fill-mode: both;
  animation-delay: $delay;
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.HomeScreen {
  overflow: hidden;
  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    .part {
      // opacity: 1;
      width: 100%;
      height: 100%;
      //transition: opacity 0.2s ease-in-out;
      /*&:not(.current) {
        opacity: 0;
      }*/
      &:first-child {
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: center;
        position: relative;
        overflow: hidden;
        img.logo {
          width:100px;
          height:auto;
          border-radius:20px
        }
        p {
          padding:0 0 0.4em 0;
          margin-block:0;
          text-align:center
        }
        p:not(.desc) {
          font-size:1.8rem;
          font-weight:bold
        }
        [type="button"] {
          width: 50%;
          cursor: pointer;
          margin: 0.2em
        }
        .content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
        }
        .buttonGroup {
          width:100%;
          position: absolute;
          bottom: 0;
          display:flex;
          margin-bottom: 0.8rem;
          flex-direction:column;
          align-items:center
        }
        &.current {
          .content * {@include fadeInUp(0.4s, 0.2s)}
          .buttonGroup {@include fadeInUp(0.4s, 0s)}
        }
        &:not(.current) {
          .content * {@include fadeOut(0.15s, 0s)}
          .buttonGroup {@include fadeOut(0.15s, 0s)}
        }
        @media (min-width: 768px) {
          & {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .content {
              position: static;
              transform: none;
              align-items: flex-start;
              margin-left: 0.8rem;
            }
            .buttonGroup {
              position: static;
              align-items: flex-start;
              margin-left: 0.8rem;
            }
          }
          [type="button"] {padding: 0 0.5em}
          .buttonGroup {width:auto;flex-direction:row;}
        }
      }
      &:nth-child(2) {}
      &:nth-child(3) {}
      &:last-child {}
    }
  }
}

// 自定义
.upload-dragger {
  background: rgba(var(--mdui-color-primary-dark), 0.2);
  border-radius: var(--mdui-shape-corner-small);
  box-sizing: border-box;
  padding: 10px;
  transition: all var(--mdui-motion-duration-medium2) var(--mdui-motion-easing-linear);
  width: 100%;
  &:hover {
    background: rgba(var(--mdui-color-primary-dark), 0.4);
  }
  .upload-dragger-text {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }
  .upload-dragger-icon {
    font-size: 32px;
  }
}